In [19]:
import pandas as pd
import numpy as np

# define file path 
FILE_PATH = '/home/kip/Desktop/Sentiment-Analysis/HudumaNumber.txt'

# use pandas to read csv 
train = pd.read_csv(FILE_PATH)
train.head(3)

,Unnamed: 0,_api,_json,created_at,id,id_str,text,truncated,entities,metadata,...,favorite_count,favorited,retweeted,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status,possibly_sensitive,extended_entities
0,0,<tweepy.api.API object at 0x7fe65d8f1780>,{'created_at': 'Wed Jul 24 15:51:58 +0000 2019...,2019-07-24 15:51:58,1154056637130399744,1154056637130399744,And now they collected our data without any da...,False,"{'hashtags': [{'text': 'hudumanumber', 'indice...","{'iso_language_code': 'en', 'result_type': 're...",...,0,False,False,en,NaN,NaN,NaN,NaN,NaN,NaN
1,1,<tweepy.api.API object at 0x7fe65d8f1780>,{'created_at': 'Wed Jul 24 06:59:17 +0000 2019...,2019-07-24 06:59:17,1153922585735966720,1153922585735966720,RT @GreenShopEA1: what #hudumanumber can do #I...,False,"{'hashtags': [{'text': 'hudumanumber', 'indice...","{'iso_language_code': 'en', 'result_type': 're...",...,0,False,False,en,Status(_api=<tweepy.api.API object at 0x7fe65d...,NaN,NaN,NaN,NaN,NaN
2,2,<tweepy.api.API object at 0x7fe65d8f1780>,{'created_at': 'Wed Jul 24 06:54:59 +0000 2019...,2019-07-24 06:54:59,1153921501139230720,1153921501139230720,what #hudumanumber can do #IdNamba can do bett...,True,"{'hashtags': [{'text': 'hudumanumber', 'indice...","{'iso_language_code': 'en', 'result_type': 're...",...,0,False,False,en,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# Number of Words
train['word_count'] = train['text'].apply(lambda x: len(str(x).split(" ")))
train[['text','word_count']].head()

                                                text  word_count
0  And now they collected our data without any da...          14
1  RT @GreenShopEA1: what #hudumanumber can do #I...          15
2  what #hudumanumber can do #IdNamba can do bett...          13
3  RT @UzalendoNews_KE: It will now be mandatory ...          26
4  I believe @FredMatiangi has also committed an ...          19

In [21]:
# Number of characters
train['char_count'] = train['text'].str.len() ## this also includes spaces
train[['text','char_count']].head()

                                                text  char_count
0  And now they collected our data without any da...          88
1  RT @GreenShopEA1: what #hudumanumber can do #I...         140
2  what #hudumanumber can do #IdNamba can do bett...         136
3  RT @UzalendoNews_KE: It will now be mandatory ...         140
4  I believe @FredMatiangi has also committed an ...         140

In [22]:
# Average Word Length
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

train['avg_word'] = train['text'].apply(lambda x: avg_word(x))
train[['text','avg_word']].head()

                                                text  avg_word
0  And now they collected our data without any da...  5.357143
1  RT @GreenShopEA1: what #hudumanumber can do #I...  8.400000
2  what #hudumanumber can do #IdNamba can do bett...  9.538462
3  RT @UzalendoNews_KE: It will now be mandatory ...  4.423077
4  I believe @FredMatiangi has also committed an ...  6.421053

In [23]:
# Number of stopwords
from nltk.corpus import stopwords
stop = stopwords.words('english')

train['stopwords'] = train['text'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['text','stopwords']].head()

                                                text  stopwords
0  And now they collected our data without any da...          5
1  RT @GreenShopEA1: what #hudumanumber can do #I...          5
2  what #hudumanumber can do #IdNamba can do bett...          5
3  RT @UzalendoNews_KE: It will now be mandatory ...         12
4  I believe @FredMatiangi has also committed an ...          5

In [24]:
# Number of special characters
train['hastags'] = train['text'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
train[['text','hastags']].head()

                                                text  hastags
0  And now they collected our data without any da...        1
1  RT @GreenShopEA1: what #hudumanumber can do #I...        7
2  what #hudumanumber can do #IdNamba can do bett...        6
3  RT @UzalendoNews_KE: It will now be mandatory ...        0
4  I believe @FredMatiangi has also committed an ...        1

In [25]:
#  Number of numerics
train['numerics'] = train['text'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
train[['text','numerics']].head()

                                                text  numerics
0  And now they collected our data without any da...         0
1  RT @GreenShopEA1: what #hudumanumber can do #I...         0
2  what #hudumanumber can do #IdNamba can do bett...         0
3  RT @UzalendoNews_KE: It will now be mandatory ...         0
4  I believe @FredMatiangi has also committed an ...         0

In [26]:
# Number of Uppercase words
train['upper'] = train['text'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
train[['text','upper']].head()

                                                text  upper
0  And now they collected our data without any da...      0
1  RT @GreenShopEA1: what #hudumanumber can do #I...      1
2  what #hudumanumber can do #IdNamba can do bett...      0
3  RT @UzalendoNews_KE: It will now be mandatory ...      1
4  I believe @FredMatiangi has also committed an ...      1

In [27]:
# Lower case
train['text'] = train['text'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['text'].head()

0    and now they collected our data without any da...
1    rt @greenshopea1: what #hudumanumber can do #i...
2    what #hudumanumber can do #idnamba can do bett...
3    rt @uzalendonews_ke: it will now be mandatory ...
4    i believe @fredmatiangi has also committed an ...
Name: text, dtype: object

In [28]:
# Removing Punctuation
train['text'] = train['text'].str.replace('[^\w\s]','')
train['text'].head()

0    and now they collected our data without any da...
1    rt greenshopea1 what hudumanumber can do idnam...
2    what hudumanumber can do idnamba can do better...
3    rt uzalendonews_ke it will now be mandatory fo...
4    i believe fredmatiangi has also committed an o...
Name: text, dtype: object

In [29]:
#  Removal of Stop Words
from nltk.corpus import stopwords
stop = stopwords.words('english')
train['text'] = train['text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['text'].head()

0    collected data without data protection laws pl...
1    rt greenshopea1 hudumanumber idnamba better kt...
2    hudumanumber idnamba better ktnnewscentre hudu...
3    rt uzalendonews_ke mandatory kenyans huduma na...
4    believe fredmatiangi also committed offense en...
Name: text, dtype: object

In [30]:
# Common word removal
freq = pd.Series(' '.join(train['text']).split()).value_counts()[:10]
freq
# remove these words as their presence will not of any use in classification of our text data.
freq = list(freq.index)
train['text'] = train['text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['text'].head()

0              collected without protection laws place
1    greenshopea1 idnamba better ktnnewscentre hudu...
2    idnamba better ktnnewscentre hudumabill2019 hu...
3    uzalendonews_ke mandatory kenyans huduma namba...
4    believe fredmatiangi committed offense engagin...
Name: text, dtype: object

In [31]:
# Rare words removal
freq = pd.Series(' '.join(train['text']).split()).value_counts()[-10:]
freq
freq = list(freq.index)
train['text'] = train['text'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['text'].head()

0              collected without protection laws place
1    greenshopea1 idnamba better ktnnewscentre hudu...
2    idnamba better ktnnewscentre hudumabill2019 hu...
3    uzalendonews_ke mandatory kenyans huduma namba...
4    believe fredmatiangi committed offense engagin...
Name: text, dtype: object

In [32]:
# Spelling correction
from textblob import TextBlob
train['text'][:5].apply(lambda x: str(TextBlob(x).correct()))

0              collected without protection laws place
1    greenshopea1 idnamba better ktnnewscentre hudu...
2    idnamba better ktnnewscentre hudumabill2019 hu...
3    uzalendonews_ke mandatory kenyans huduma name ...
4    believe fredmatiangi committed offense engagin...
Name: text, dtype: object

In [33]:
# Stemming
from nltk.stem import PorterStemmer
st = PorterStemmer()
train['text'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0                    collect without protect law place
1    greenshopea1 idnamba better ktnnewscentr hudum...
2    idnamba better ktnnewscentr hudumabill2019 hud...
3    uzalendonews_k mandatori kenyan huduma namba g...
4    believ fredmatiangi commit offens engag projec...
Name: text, dtype: object

In [34]:
train.head(3)

,Unnamed: 0,_api,_json,created_at,id,id_str,text,truncated,entities,metadata,...,quoted_status,possibly_sensitive,extended_entities,word_count,char_count,avg_word,stopwords,hastags,numerics,upper
0,0,<tweepy.api.API object at 0x7fe65d8f1780>,{'created_at': 'Wed Jul 24 15:51:58 +0000 2019...,2019-07-24 15:51:58,1154056637130399744,1154056637130399744,collected without protection laws place,False,"{'hashtags': [{'text': 'hudumanumber', 'indice...","{'iso_language_code': 'en', 'result_type': 're...",...,NaN,NaN,NaN,14,88,5.357143,5,1,0,0
1,1,<tweepy.api.API object at 0x7fe65d8f1780>,{'created_at': 'Wed Jul 24 06:59:17 +0000 2019...,2019-07-24 06:59:17,1153922585735966720,1153922585735966720,greenshopea1 idnamba better ktnnewscentre hudu...,False,"{'hashtags': [{'text': 'hudumanumber', 'indice...","{'iso_language_code': 'en', 'result_type': 're...",...,NaN,NaN,NaN,15,140,8.400000,5,7,0,1
2,2,<tweepy.api.API object at 0x7fe65d8f1780>,{'created_at': 'Wed Jul 24 06:54:59 +0000 2019...,2019-07-24 06:54:59,1153921501139230720,1153921501139230720,idnamba better ktnnewscentre hudumabill2019 hu...,True,"{'hashtags': [{'text': 'hudumanumber', 'indice...","{'iso_language_code': 'en', 'result_type': 're...",...,NaN,NaN,NaN,13,136,9.538462,5,6,0,0

In [35]:
list(train.columns)

['Unnamed: 0',
 '_api',
 '_json',
 'created_at',
 'id',
 'id_str',
 'text',
 'truncated',
 'entities',
 'metadata',
 'source',
 'source_url',
 'in_reply_to_status_id',
 'in_reply_to_status_id_str',
 'in_reply_to_user_id',
 'in_reply_to_user_id_str',
 'in_reply_to_screen_name',
 'author',
 'user',
 'geo',
 'coordinates',
 'place',
 'contributors',
 'is_quote_status',
 'retweet_count',
 'favorite_count',
 'favorited',
 'retweeted',
 'lang',
 'retweeted_status',
 'quoted_status_id',
 'quoted_status_id_str',
 'quoted_status',
 'possibly_sensitive',
 'extended_entities',
 'word_count',
 'char_count',
 'avg_word',
 'stopwords',
 'hastags',
 'numerics',
 'upper']

In [38]:
data = pd.DataFrame(train[['created_at','text','word_count','char_count','avg_word','stopwords','hastags','numerics','upper']])
data.head(3)

,created_at,text,word_count,char_count,avg_word,stopwords,hastags,numerics,upper
0,2019-07-24 15:51:58,collected without protection laws place,14,88,5.357143,5,1,0,0
1,2019-07-24 06:59:17,greenshopea1 idnamba better ktnnewscentre hudu...,15,140,8.400000,5,7,0,1
2,2019-07-24 06:54:59,idnamba better ktnnewscentre hudumabill2019 hu...,13,136,9.538462,5,6,0,0

In [39]:
# define file path (string) to save csv file to
FILE_PATH = '/home/kip/Desktop/Sentiment-Analysis/HudumaNumb.csv'

# use pandas to save dataframe to csv
data.to_csv(FILE_PATH)

In [40]:
# define file path 
FILE_PATH = '/home/kip/Desktop/Sentiment-Analysis/HudumaNumb.csv'

# use pandas to read csv 
train = pd.read_csv(FILE_PATH)
train.head(3)

,Unnamed: 0,created_at,text,word_count,char_count,avg_word,stopwords,hastags,numerics,upper
0,0,2019-07-24 15:51:58,collected without protection laws place,14,88,5.357143,5,1,0,0
1,1,2019-07-24 06:59:17,greenshopea1 idnamba better ktnnewscentre hudu...,15,140,8.400000,5,7,0,1
2,2,2019-07-24 06:54:59,idnamba better ktnnewscentre hudumabill2019 hu...,13,136,9.538462,5,6,0,0